





*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}


.header {
  text-align: center;
  height: 30vh;
  background-image: url(img/1.jpg);
  background-position: center;
  background-size: contain;
}
.overlay{
  background-color: black;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.652);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
}

.add-btn {
  padding: .5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  cursor: pointer;
}
.add-btn:hover {
  background-color: grey;
  color: white
}


.dialog {
  margin: 0 auto;
  margin-top: 10%;
  background-color: brown;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.538);
  backdrop-filter: blur(5px);
}

form {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background-position: center;
  background-size: cover;
  color: white;
}


.flex {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.submit-btn {
  padding: .5rem;
  background-color: rgba(0, 0, 255, 0.411);
  border: none;
  cursor: pointer;
  color: white;
}



input[type='text'] {
  padding: .2rem;
}

input[type='text']:focus {
  outline: none;
}


.library {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.card-container{
  background-color: rgba(0, 0, 255, 0.244);
  background-position: center;
  background-size: contain;
  width: 20rem;
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.card-container h3 {
  font-size: 2rem;
  text-wrap: wrap;
}

.card-container p {
  font-size: 1.5rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.remove-btn, .read-btn{
  padding: .5rem;
  width: 5rem;
  background-color: brown;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.remove-btn:hover, .read-btn:hover {
  opacity: .8;
}